:root {

    --color0: #01161E;
    --color1: #124559;
    --color2: #598392;
    --color3: #aec3b0;
    --color4: #EFF6E0;
    --color5: #FDFEFF;

    --uiColorConfirm: lightgreen;
    --uiColorForbidden: red;
    --uiColorShadow: #081E26;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Caudex', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #598392;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: var(--color2);
    color: var(--color5);
    text-align: center;
    border-radius: .75rem;
    margin-top: 2.25rem;
    font-size: 1.875rem;
    font-weight: 400;
    border: none;
}

button:hover {
    background-color: var(--color3);
    cursor: pointer;
    color: var(--color5);
}

button:active {
    background-color: var(--uiColorConfirm);
    color: var(--color5);

}

button a,
button a:hover,
button a:active {
    text-decoration: none;
    color: var(--color5);
    display: block;
    padding: 1rem;
}



section {
    background-color: var(--color1);
}

footer {
    height: 60%;
    background-color: var(--color3);
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--color5);
}

a:hover {
    color: var(--color4);
}

a:active {
    color: var(--uiColorConfirm);
}

ul {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 3rem;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 5.625rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    letter-spacing: -.075rem;

}

h2 {
    font-size: 2.813rem;
    line-height: 1.3;
    letter-spacing: -.031rem;


}

p {
    font-size: 1.25rem;
    text-size-adjust: auto;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

hr {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: #01161E;
}

footer {
    color: var(--color0);
    padding: 3%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    background-color: var(--color4);
    box-shadow: 5px 5px 20px var(--uiColorShadow);
    border-radius: 1rem;
}

form h3 {
    color: var(--color0);
    font-size: 3rem;
    font-weight: 800;
}

form input,
form textarea {
    color: var(--color0);
    font-size: 1rem;
    border: 0;
    margin: .625rem 0;
    padding: 1.25rem;
    outline: none;
    background-color: var(--color5);
    resize: none;
}

form button {
    border-radius: .625rem;
    margin-top: 1rem;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    font-size: 2rem;
    max-width: 600px;
}




.hero {
    color: var(--color5);
    font-size: 2.5rem;
    height: 100vh;

    /*Background*/
    background: linear-gradient(45deg, rgb(36, 18, 78), transparent), repeating-linear-gradient(45deg, rgb(46, 24, 54) 0%, rgb(46, 24, 54) 5%, transparent 5%, transparent 10%, rgb(36, 18, 78) 10%, rgb(36, 18, 78) 11%, transparent 11%, transparent 12%), green repeating-linear-gradient(-45deg, rgba(46, 24, 54, 0.5) 0%, rgba(46, 24, 54, 0.5) 5%, transparent 5%, transparent 10%);
}

.hero-text {
    margin-left: 5%;
    margin-bottom: 20%;
    cursor: default;

}

.content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.socials {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.social {
    margin: 2rem;
}

.logo {
    height: 8rem;
    margin-left: 2rem;
    padding-top: .625rem;
    color: var(--color5)
}

.subsection,
.subsection-alt {
    display: flex;
    padding: 8%;
    margin: 10rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px var(--uiColorShadow);
}

.subsection {
    justify-content: space-around;
}

.subsection-alt {
    flex-direction: column;
    text-align: center;
}

.subsection-alt h2 {
    color: var(--color4);
}

.information {
    font-size: 1.25rem;
    color: var(--color4);
    max-width: 60rem;
}

.headshot {
    width: 100%;
    height: 100%;
    border-radius: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.project-card {
    position: relative;
    width: 26rem;
    height: 26rem;
    border-radius: 1.5rem;
    background-color: var(--color4);
    box-shadow: 5px 5px 20px var(--uiColorShadow);
    margin: 30px;
    transition: .5s;
}

.project-card a {
    text-decoration: none;
    color: var(--color2);
    margin-top: 30px;
}

.project-card:hover {
    background-color: var(--color3);
    width: 27rem;
}

.project-description {
    font-size: 1rem;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    height: 35%;
    display: block;
}


.project-image {
    max-height: 200px;
    border-radius: .625rem;
    margin-top: -60px;
    box-shadow: 5px 5px 20px var(--uiColorshadow);
    overflow: hidden;
}


.hamburger {
    display: none;
}

.hamburger:hover {
    color: var(--color3);
    background-color: transparent;
}

.hamburger:active {
    color: var(--color4);
}

.contact-form {
    width: 100%;
    height: 50vh;
    margin-top: 3.7rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1000px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }


    .project-description {
        font-size: .8rem;
        font-weight: 300;
        width: 15rem;
    }

    .hero-text {

        margin-bottom: 80%;
        padding-top: 10rem;
        margin-top: 20%;
        margin-left: 5%;
        cursor: default;
        display: block;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: var(--color5);
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: var(--uiColorshadow);
        margin: 0px;
        padding-bottom: 20px;
    }

    ul.show {
        display: block;
        list-style-type: none;
        width: 40%;
        justify-content: space-around;
        font-size: 30px;
        padding-right: 50px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        background-color: var(--uiColorshadow);
    }

    .logo {
        display: none;
    }

    .headshot-container {
        display: none;

    }
}