/*=======================Main===========================*/

:root {
    --offWhite: #F2F2F2;
    --main: #24124e;
    --accent: rgb(46, 24, 54);
    --accent2: rgb(87, 17, 112);
    --section: #35344d;
    --card: #CEE2C4;
    --cardHover: #7db17d;
    --transparentGreen: #56A15650;

    --uiColorConfirm: lightgreen;
    --uiColorForbidden: red;
}

html,
body {
    scroll-behavior: smooth;
    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background:
        linear-gradient(140deg, #35748b 1%, transparent),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Caudex', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}


img {
    max-width: 100%;
}

.social {
    /* cursor: pointer; */
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 2px solid var(--transparentGreen);
    background-color: var(--transparentGreen);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: var(--transparentGreen);
    border: 2px solid var(--transparentGreen);
    text-align: center;
    border-radius: .75rem;
    margin-top: 2.25rem;
    font-size: 1.875rem;
    font-weight: 600;
    transition: .5s;
    z-index: 237;

    a {
        font-family: 'Roboto', sans-serif;
        display: block;
        padding: 1rem;
    }
}

.header-link {
    background-color: transparent;
    border: 2px solid transparent;
    height: 10vh;
    margin: 0;
    padding: 1;

    a {
        margin: 0;
        padding: 0;
    }
}

button:hover,
.social:hover {
    box-shadow: 5px 5px black;
    border: 2px solid black;
    background-color: var(--cardHover);
    cursor: pointer;
    color: var(--offWhite);
    transition: .5s;
    transform: translate(-3px, -3px);
}

button:active,
.social:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
}

section {
    background-color: var(--section);
}

footer {
    height: 60%;
    background-color: var(--section);
    border-top: .25rem solid black;
    border-bottom: .25rem solid black;
    color: var(--offWhite);
    padding: 3%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--offWhite);
    font-size: 1rem;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

a:active {
    color: var(--uiColorConfirm);
}

ul {
    display: flex;
    list-style-type: none;
    width: fit-content;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 3rem;
}

ul.show {
    display: block;
}

li {
    padding: 0%;
    padding-right: 10%;
}

h1 {
    font-size: 5.625rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 2px;

}

h2 {

    font-size: 2.813rem;
    line-height: 1.3;
    letter-spacing: -.031rem;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(.75rem + 1.1vw);
    text-size-adjust: auto;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

hr {
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: .25rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: none;
    border-radius: 1rem;
    background-color: black;

}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    background-color: var(--card);
    border-radius: 1rem;
    border: 3px solid black;
    box-shadow: 5px 5px black;

    h3 {
        color: black;
        font-size: 1vw;
        font-weight: 800;
    }

    input,
    textarea {
        color: black;
        font-size: 1rem;
        border: 0;
        margin: .625rem 0;
        padding: 1.25rem;
        outline: double;
        outline-color: var(--accent);
        background-color: var(--offWhite);
        resize: none;
    }

    button {
        border-radius: .625rem;
        margin-top: 1rem;
        padding-left: auto;
        padding-right: auto;
        width: 100%;
        font-size: 2rem;
        max-width: 600px;
    }
}





/*=======================Hero===========================*/

nav {
    position: relative;
    margin: 1rem;
    margin-top: 0;
    width: fit-content;

    a {
        font-size: calc(8px + 1.5vw);
        position: relative;
        margin: 2rem;
    }
}

.nav {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: .75s;
    padding-top: 1rem;
    border-radius: 1rem;
    border: .2rem solid black;
    box-shadow: 5px 5px black;
    background-color: var(--section);
    transition: .2s;
}


.hero {
    font-size: 2.5rem;
    min-height: fit-content;
    height: 90vh;
    width: 90vw;
    display: block;
    padding: 5rem;
    padding-top: .1rem;
    padding-bottom: 15vh;



    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background-color: transparent;

}

.hero-text {
    margin-left: 5%;
    cursor: default;
    padding-top: 5rem;
    color: var(--offWhite);
}


.hamburger {
    display: none;

}

.hamburger:hover {
    color: var(--cardHover);
    background-color: transparent;
    box-shadow: none;
}

.hamburger:active {
    color: var(--card);
}

.show .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.show .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.show .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: var(--offWhite);
    transform: skew(5deg);
    transition: all .275s;
}

.burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: var(--offWhite);
}

.burger:after,
.burger:before {
    content: '';
    display: block;
    height: 100%;
    background: var(--offWhite);
    transition: all .275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}


.content {
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
    align-items: flex-start;
}


.logo {
    height: 6rem;
    padding-left: 2rem;
    margin: 2rem;
    color: var(--offWhite)
}

/*=======================Content===========================*/
.subsection,
.subsection-alt {
    display: flex;
    padding-bottom: 4%;
    margin: 4rem;
    max-height: fit-content;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    align-items: center;
    gap: 20px;
}

.subsection {
    justify-content: space-around;
    min-height: 65vh;
    flex-wrap: wrap;
}

.subsection-alt {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.alt-color-h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: var(--card);
}

.my-information {
    color: var(--card);
    margin-left: auto;
    max-width: 50vw;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.my-information p {
    font-size: 1.1rem;
}

.headshot {
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 3vw;
    filter: grayscale();
    transition: .2s;
}

.headshot:hover {
    filter: none;
    transition: .2s;
}

.headshot-container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

/*=======================Card===========================*/

.projects,
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;
}

.project-card,
.skill-card {
    position: relative;
    padding: .5rem;
    border-radius: 1.5rem;
    background-color: var(--card);
    border: .15rem solid var(--cardHover);
}

.project-card {

    width: 23rem;
    height: 26rem;
    margin: 1rem;
    margin-top: 2rem;
    transition: .5s;

    a {
        text-decoration: none;
        color: var(--accent);
        margin-top: 30px;
    }
}

.skill-card {
    width: fit-content;
    height: fit-content;

    margin: 1rem;
    margin-top: 4rem;
    transition: .5s;
}

.project-card:hover,
.skill-card:hover {
    background-color: #7db17d;
    border: .15rem solid black;
    box-shadow: 5px 5px black;
    transition: .25s;
    transform: translate(-3px, -3px);
}


.project-description {
    font-size: 1rem;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    height: 35%;
    display: block;
}


.project-image {
    max-height: 200px;
    border-radius: .625rem;
    margin-top: -60px;
    overflow: hidden;
}

.skill-card {
    h3 {
        font-size: 1.25vw;
        font-weight: 300px;
        margin: 2%;
    }

    svg {
        width: 15vw;
        height: 20vh;
        padding: .25rem;
    }
}


/*=======================Footer===========================*/

.socials {
    /* padding-bottom: 5rem; */
    display: flex;
    justify-content: center;
    /* margin-top: 5rem; */
}



.contact-form {
    width: 100%;
    height: 50vh;
    /* margin-top: 3.7rem; */
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1400px) {

    .alt-color-h2 {
        margin-bottom: 3rem;
        color: var(--card);
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project-description {
        font-size: .8rem;
        font-weight: 300;
        width: 15rem;
    }

    .my-information {
        max-width: 45vw;
        margin-right: 0;
        margin-left: 0;
        padding: .5rem;
    }

    .hero-text {
        margin-bottom: 80%;
        margin-left: 5%;
        cursor: default;
        display: block;
    }

    .hamburger {
        display: block;
        position: relative;
        border: 0;
        background-color: transparent;
        color: var(--offWhite);
        font-size: 30px;
        margin: 2rem;
        left: 90vw;
        align-self: flex-start;
    }

    ul {
        display: none;
        background-color: black;

        padding-bottom: 20px;
    }

    ul.show {
        display: block;
        list-style-type: none;
        width: 40%;
        justify-content: space-around;
        font-size: 30px;
        transition: .5s;
    }


    .stayGreen {
        background-color: #56A15650;
        border: .02rem solid var(--offWhite);
    }

    .logo {
        position: absolute;
        top: 1%;
        left: 0;
        margin-top: 0;
        /* display: none; */
    }

    .headshot {
        margin: 1rem;
        width: 20rem;
        height: 20rem;
    }

    .skill-card svg {
        width: 30vw;
        padding: 0rem;
    }

    .skill-card h3 {
        font-size: 2vw;
        font-weight: 200px;
        margin: 2%;
    }
}

@media only screen and (max-width: 700px) {
    p {

        font-weight: 200;
    }

    h2 {
        margin-top: 12%;
        font-size: 2rem;
        font-weight: 400;
    }

    .skill-card h3 {
        font-size: 3vw;
        font-weight: 200px;
        margin: 2%;
    }

    .skill-card svg {
        width: 50vw;

    }

    .project-card {
        width: fit-content;
        margin-bottom: 4rem;
    }

    .headshot-container {
        display: none;
    }
}