/*=======================Main===========================*/

:root {

    --richBlack: #01161E;
    --offWhite: #F2F2F2;
    --main: rgb(36, 18, 78);
    --accent: rgb(46, 24, 54);
    --accent2: rgb(87, 17, 112);
    --section: #35344d;
    --card: #CEE2C4;
    --cardHover: #7db17d;

    --uiColorConfirm: lightgreen;
    --uiColorForbidden: red;
    --uiColorShadow: #081E26;
}

html {
    scroll-behavior: smooth;
    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background:
        linear-gradient(140deg, var(--richBlack) 20%, transparent),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

body {
    font-family: 'Caudex', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

button {
    width: fit-content;
    height: fit-content;
    /* background-color: var(--section); */
    background-color: var(--cardHover);
    color: var(--offWhite);
    text-align: center;
    border-radius: .75rem;
    margin-top: 2.25rem;
    font-size: 1.875rem;
    font-weight: 600;
    border: none;
}

button:hover {
    /* background-color: var(--accent2); */
    background-color: #56A156;
    cursor: pointer;
    color: var(--offWhite);
}


button a,
button a:hover,
button a:active {
    text-decoration: none;
    color: var(--offWhite);
    display: block;
    padding: 1rem;
}



section {
    background-color: var(--section);
}

footer {
    height: 60%;
    background-color: var(--section);

    color: var(--offWhite);
    padding: 3%;
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

nav a {
    font-size: calc(8px + 1.5vw);
    position: relative;
    padding-right: 2vw;
}


a {
    text-decoration: none;
    color: var(--offWhite);
    font-size: 1rem;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

a:hover {
    color: var(--card);
}

a:active {
    color: var(--uiColorConfirm);
}

ul {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 3rem;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 5.625rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    letter-spacing: -.075rem;

}

h2 {

    font-size: 2.813rem;
    line-height: 1.3;
    letter-spacing: -.031rem;
}


p {
    font-size: calc(.75rem + 1.1vw);
    text-size-adjust: auto;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

hr {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: var(--card);
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    background-color: var(--card);
    box-shadow: 5px 5px 20px var(--uiColorShadow);
    border-radius: 1rem;

}

form h3 {
    color: var(--richBlack);
    font-size: 1vw;
    font-weight: 800;
}

form input,
form textarea {
    color: var(--richBlack);
    font-size: 1rem;
    border: 0;
    margin: .625rem 0;
    padding: 1.25rem;
    outline: double;
    outline-color: var(--accent);
    background-color: var(--offWhite);
    resize: none;
}

form button {
    border-radius: .625rem;
    margin-top: 1rem;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    font-size: 2rem;
    max-width: 600px;
}

img {
    max-width: 100%;
}


/*=======================Hero===========================*/

.hero {
    color: var(--offWhite);
    font-size: 2.5rem;
    height: 100vh;

    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background-color: transparent;

}

.hero-text {
    margin-left: 5%;
    cursor: default;
}


.hamburger {
    display: none;
}

.hamburger:hover {
    color: var(--accent2);
    background-color: transparent;
}

.hamburger:active {
    color: var(--card);
}


.content {
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
    align-items: flex-start;
}

.logo {
    height: 8rem;
    margin-left: 2rem;
    color: var(--offWhite)
}




/*=======================Content===========================*/
.subsection,
.subsection-alt {
    display: flex;
    padding-bottom: 4%;
    margin: 4rem;
    max-height: fit-content;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px var(--uiColorShadow);
    align-items: center;
}

.subsection {
    justify-content: space-around;
    min-height: 65vh;
    flex-wrap: wrap;
}

.subsection-alt {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.alt-color-h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: var(--card);
}

.my-information {
    color: var(--card);
    margin-left: auto;
    max-width: 50vw;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.my-information p {
    font-size: 1.1rem;
}

.headshot {
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 3vw;

}

.headshot-container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}


/*=======================Card===========================*/

.projects,
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;
}

.project-card,
.skill-card {
    position: relative;
    padding: .5rem;
    border-radius: 1.5rem;
    /* background-color: #7db17d; */
    background-color: var(--card);
    box-shadow: 5px 5px 20px var(--uiColorShadow);
}

.project-card {

    width: 23rem;
    height: 26rem;
    /* padding: .5rem; */
    /* border-radius: 1.5rem; */
    /* background-color: var(--card); */

    /* box-shadow: 5px 5px 20px var(--uiColorShadow); */
    margin: 1rem;
    margin-top: 2rem;
    transition: .5s;
}

.skill-card {
    /* position: relative; */
    width: fit-content;
    height: fit-content;

    margin: 1rem;
    margin-top: 4rem;
    transition: .5s;
}

.project-card a {
    text-decoration: none;
    color: var(--accent);
    margin-top: 30px;
}

.project-card:hover,
.skill-card:hover {
    /* background-color: var(--offWhite); */
    /* background-color: #469046; */
    background-color: #7db17d;
    padding: .7rem;
    box-shadow: 5px 5px 10px black;
    transition: .25s;
}

.project-card hr {
    color: var(--richBlack);
}

.project-description {
    font-size: 1rem;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    height: 35%;
    display: block;
}


.project-image {
    max-height: 200px;
    border-radius: .625rem;
    margin-top: -60px;
    box-shadow: 5px 5px 20px var(--uiColorshadow);
    overflow: hidden;
}






.skill-card h3 {
    font-size: 1.25vw;
    font-weight: 300px;
    margin: 2%;
}

.skill-card svg {
    width: 15vw;
    height: 20vh;
    padding: .25rem;
}

.skill-card hr {
    color: var(--richBlack);
    margin-bottom: 1rem;
}




/*=======================Footer===========================*/

.socials {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.social {
    margin: 2rem;
}


.contact-form {
    width: 100%;
    height: 50vh;
    margin-top: 3.7rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media only screen and (max-width: 1400px) {

    .alt-color-h2 {
        margin-bottom: 3rem;
        color: var(--card);
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project-description {
        font-size: .8rem;
        font-weight: 300;
        width: 15rem;
    }

    .my-information {
        max-width: 45vw;
        margin-right: 0;
        margin-left: 0;
        padding: .5rem;
    }

    .hero-text {
        margin-bottom: 80%;
        margin-left: 5%;
        cursor: default;
        display: block;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: var(--offWhite);
        font-size: 30px;
        margin-right: 2rem;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: var(--uiColorshadow);

        padding-bottom: 20px;
    }

    ul.show {
        display: block;
        list-style-type: none;
        width: 40%;
        justify-content: space-around;
        font-size: 30px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        background-color: var(--uiColorshadow);
        margin-bottom: 5rem;
    }

    nav a {
        font-size: 2rem;
        /* margin-top: -5; */
    }

    .logo {
        display: none;
    }

    .headshot {
        margin: 1rem;
        width: 20rem;
        height: 20rem;
    }

    .skill-card svg {
        width: 30vw;
        padding: 0rem;
    }

    .skill-card h3 {
        font-size: 2vw;
        font-weight: 200px;
        margin: 2%;
    }
}

@media only screen and (max-width: 700px) {
    p {

        font-weight: 200;
    }

    h2 {
        margin-top: 12%;
        font-size: 2rem;
        font-weight: 400;
    }

    .skill-card h3 {
        font-size: 3vw;
        font-weight: 200px;
        margin: 2%;
    }

    .skill-card svg {
        width: 50vw;

    }

    .project-card {
        width: fit-content;
        margin-bottom: 4rem;
    }

    .headshot-container {
        display: none;
    }
}