:root {
    --hero-color: #555b6e;
    --hero-accent: #89b0ae;
    --bg-color: #bee3db;
    --bg-accent: #faf9f9;
    --root-accent: #ffd6ba;
}

body {
    font-family: 'Caudex', serif;
}


section {

    background-color: var(--bg-color);
    /*border: solid black 1px;*/
}

footer {
    height: 500px;
    background-color: var(--root-accent);
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 50px;

}

li {
    /*width: 200px;*/
    text-decoration: none;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 45px;
}

p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.hero {
    background-color: var(--hero-color);
    color: white;
    font-size: 40px;
    height: 100vh;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 600px;
}

.content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 175px;
    height: 50px;
    background-color: var(--hero-accent);
    color: white;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 400;
}

.button:hover {
    background-color: white;
    color: gray
}

.button:active {
    background-color: green;
    color: yellowgreen;
}

.socials {
    padding-bottom: 600px;
}

.social {
    margin: 20px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.subsection {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.subsection-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.information {
    font-size: 20px;

}

.headshot {
    width: 300px;
    height: 300px;
    border-radius: 75px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.project {
    width: 400px;
    height: 500px;
    /*border: 1px solid black;*/
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px gray;
}

.project-description {
    font-size: 15px;
    font-weight: 400px;
}