/*===============r========Main===========================*/

:root {
    --offWhite: #F2F2F2;
    --main: #24124e;
    --accent: rgb(46, 24, 54);
    --accent2: rgb(87, 17, 112);
    --fade: #35748b;
    --section: #35344d;
    --card: #CEE2C4;
    --cardHover: #7db17d;
    --transparentGreen: #56A15650;

    --logo-transition: .25s;
    --button-transition: .5s;

    --uiColorConfirm: lightgreen;
    --uiColorForbidden: red;
}

html,
body {
    scroll-behavior: smooth;
    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background:
        linear-gradient(140deg, var(--fade) 1%, transparent),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Caudex', serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    justify-content: center; */
}


img {
    max-width: 100%;
}

.coin-button {
    /* cursor: pointer; */
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 2px solid var(--transparentGreen);
    background-color: var(--transparentGreen);
    transition: var(--button-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: var(--transparentGreen);
    border: 2px solid var(--transparentGreen);
    text-align: center;
    border-radius: .75rem;
    margin-top: 2.25rem;
    font-size: 1.875rem;
    font-weight: 600;
    transition: var(--button-transition);
    z-index: 237;
}

button a {

    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 1rem;
}

.header-link {
    background-color: tr/bodyansparent;
    border: 2px solid transparent;
    height: 10vh;
    margin: 0;
    padding: 1;


}

.header-link a {
    margin: 0;
    padding: 0;
}

button:hover,
.coin-button:hover {
    box-shadow: 5px 5px black;
    border: 2px solid black;
    background-color: var(--cardHover);
    cursor: pointer;
    color: var(--offWhite);
    transform: translate(-3px, -3px);
}

button:active,
.coin-button:active {
    box-shadow: 0px 0px black;
    background-color: var(--uiColorConfirm);
    transform: translate(3px, 3px);
}

section {

    background-color: var(--section);
}

footer {

    background-color: var(--section);
    border-top: .25rem solid black;
    border-bottom: .25rem solid black;
    color: var(--offWhite);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--offWhite);
    font-size: 1rem;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

a:active {
    color: var(--uiColorConfirm);
}

ul {
    display: flex;
    list-style-type: none;
    width: fit-content;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 3rem;
}

ul.show {
    display: block;
}

li {
    padding: 0%;
    padding-right: 10%;
}

h1 {
    font-size: 5.625rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 2px;

}

h2 {
    font-size: 2.813rem;
    line-height: 1.3;
    letter-spacing: -.031rem;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(.75rem + 1.1vw);
    text-size-adjust: auto;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

hr {
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: .25rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: none;
    border-radius: 1rem;
    background-color: black;

}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    background-color: var(--card);
    border-radius: 1rem;
    border: 3px solid black;
    box-shadow: 5px 5px black;
}

form h3 {
    color: black;
    font-size: 1vw;
    font-weight: 800;
}

form input,
textarea {
    color: black;
    font-size: 1rem;
    border: 0;
    margin: .625rem 0;
    padding: 1.25rem;
    outline: double;
    outline-color: var(--accent);
    background-color: var(--offWhite);
    resize: none;
}

form button {
    border-radius: .625rem;
    margin-top: 1rem;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    font-size: 2rem;
    max-width: 600px;
}

.navbar {
    background: none;
    z-index: 1;
    width: fit-content;
    padding: 0px 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navList li {
    margin-left: 50px;
}

.navList li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;

}

.navList li button {
    padding: 10px 20px;
    margin: 0;
    font-weight: bold;
    color: white;
    width: fit-content;
    height: 6vh;
}

.scroll {
    background: #35344da0;
    border: 2px solid black;
    top: 20px;
    border-radius: 20px;
    width: fit-content;
    /* animation: fadedown .4s ease 1s forwards; */
}

/* https://www.youtube.com/watch?v=yX8lAtJCxwo */

.link-text {
    display: none;
    margin-left: 1rem;
}



.hero {
    font-size: 2.5rem;
    min-height: fit-content;
    height: 90vh;
    width: 90vw;
    display: block;
    padding: 5rem;
    padding-top: .1rem;
    padding-bottom: 15vh;



    --s: 50px;
    --c: var(--main);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--accent2) 68% 70%, #0000 72%;
    background-color: transparent;

}

.hero-text {
    cursor: default;
    padding-top: 5rem;
    color: var(--offWhite);
}



.content {
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
    align-items: flex-start;
}



/*=======================Content===========================*/
.subsection,
.subsection-alt {
    display: flex;
    padding-bottom: 4%;
    margin: 8rem;

    max-height: fit-content;
    min-width: fit-content;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    align-items: center;
    gap: 20px;
}

.subsection {
    justify-content: space-around;
    min-height: 65vh;
    flex-wrap: wrap;
}

.subsection-alt {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.alt-color-h2 {
    margin-top: 2vh;

    color: var(--card);
}

.alt-color-h3 {
    margin-bottom: 2vh;
    color: var(--card);
}

.my-information {
    color: var(--card);
    margin-left: auto;
    max-width: 50vw;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.my-information p {
    font-size: 1.1rem;
}

.headshot {
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 3vw;
    filter: grayscale();
    transition: 1s;
}

.headshot:hover {
    filter: none;
    width: 25rem;
    height: 25rem;
}

.headshot-container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

/*=======================Skill Card===========================*/

.projects,
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;
}

.skill-card {

    position: relative;
    padding: .5rem;
    border-radius: 1.5rem;
    background-color: var(--card);
    border: .15rem solid var(--cardHover);
    margin: 2rem;
    transition: var(--button-transition);
}

.skill-card:hover {
    background-color: #7db17d;
    border: .15rem solid black;
    box-shadow: 5px 5px black;
    transition: .25s;
    transform: translate(-3px, -3px);
}



.skill-card h3 {
    font-size: 2vw;
    font-weight: 200px;
    margin: 2%;
}

/*=======================Projects===========================*/

/*=======================Footer===========================*/

.socials {
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
}



.contact-form {
    width: 80vw;
    padding-left: 10vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form h3 {
    font-size: 2rem;
}

@media only screen and (min-width:700px) {

    .skill-card {
        width: 12vw;
        height: 12vw;
    }

    footer {

        height: 60%;
        width: 100vw;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .skill-card svg {
        padding: 1vw;
        width: 7vw;
        height: 7vw;
    }
}


@media only screen and (max-width: 700px) {

    .skill-card {
        width: 20vw;
        height: 20vw;
    }

    .subsection,
    .subsection-alt {
        width: 75vw;
    }

    footer {
        padding: 5vw;
        height: 60%;
        width: 100vw;
    }

    .skill-card svg {
        padding: 1vw;
        width: 15vw;
        height: 15vw;
    }
}